{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Set up CSS configuration for Bootstrap compatibility -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'study/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'study/sticky-footer.css' %}">
    <title>
        Project 1-06
    </title>
  
  </head>

  <!-- Navbar at the top of the page -->
  <nav class="navbar navbar-dark"  style="background-color: #FFA46C;">
    <a class="navbar-brand" href="/"><b style="letter-spacing: 2px;">StudyBuddy</b></a>
  </nav>

  <body>
    <main role="main" class="container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h2 class="mt-5">
            {% block class_name %}
            StudyBuddy
            {% endblock %}
            </h2>
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </main>
  
  <!-- Footer at the top of the page -->
  <div class="mt-5">
    <footer class="footer">
      <div class="container">
        
        <!-- Copyright message and footer contents -->
        <span class="text-muted">© 2020 Copyright:
          <a href="https://github.com/uva-cs3240-f20/project-1-06">Team-1-06</a>
        </span>
      </div>
    </footer>
  </div>
</html>