{% extends "study/base.html" %}

{% block class_name %}
  {% csrf_token %}
  {{ studygroup.group_name }}
{% endblock %}

{% block content %}

<!-- Formatting for individual group pages -->
<div class="pb-4">
<h5>Topic</h5>
<div>{{studygroup.topic_course}}</div>
</div>
<div class="pb-4">
    <ul class="list-group"> 
    <h5>Members</h5>
      
    <!-- List all the members in the group -->
      {% for member in studygroup.members.all %}
        <li class="list-group-item">
        {{ member.get_full_name }}
        </li>
      {% endfor %}
    </ul>
    </div>
    
    <!-- Button for current non-member to join a Group -->
    {% if user in studygroup.members.all %}
    {% else %}
    <div class="pb-2">
      <a class="btn btn-primary btn-sm btn-block"  href="{% url 'study:join-group' studygroup.id %}"> Click here to join! </a>
    </div>
    {% endif %}
    
    <!-- Button to join a GroupMe -->
    {% if studygroup.groupme_option %}
    {% if user in studygroup.members.all %}
    <div class="pb-3">
        <a class="btn btn-link btn-sm btn-block" href="{{ studygroup.groupme_url }}" target="_blank">Connect with GroupMe</a>
    </div>

    <!-- Disable the link for users who are not a member of the StudyGroup -->
    {% else %}
    <div class="pb-3">
      <button type="button" class="btn btn-link btn-sm btn-block" disabled>Connect with GroupMe</button>
    </div>
    {% endif %}
    {% endif %}

    <!-- Button to return to Homepage -->
    <div class="pb-5 pt-5">
        <a class="btn btn-secondary" href="/" role="button">Back to Home</a>
    </div>
{% endblock %} 