{% extends "study/base.html" %}

{% block class_name %}
StudyBuddy
{% endblock %}

{% block content %}
{% load socialaccount %}
<html>
  <body>
  {% if user.is_authenticated %}
    <p>Welcome, {{ user.get_full_name }}!</p>
    <ul>
      <li class = "pb-3"><b>Email: </b>{{ user.email }}</li>
      <li class = "pb-3"><b>Bio: </b>{{ user.profile.bio }}</li>
      <li class = "pb-3"><b>Graduation Year: </b>{{ user.profile.grad_year }}</li>
      <li class = "pb-3"><b>Major: </b>{{ user.profile.major }}</li>
      <li class = "pb-3"><b>Courses: </b>
      {%for tag in user.profile.courses.all %}
      <button type="button" class="btn btn-outline-secondary btn-sm" onclick="window.location.href='/study/search?q='+'{{tag.name}}';">{{ tag.name }}</button> 
      {% endfor %}
      </li>
    </ul>
    
    <p>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/study/search';">View Groups</button> 
    <button type="button" class="btn btn-primary" onclick="window.location.href='/study/create-group';">Create Group</button> 
    </p>
  
    <p>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='/study/profile';">Edit Profile</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='/accounts/logout/';">Logout</button>
    </p>
  
 
  {% else %}
  <a class="btn btn-secondary" href="{% provider_login_url 'google' %}" role="button">Login with Google</a>
  {% endif %}

  </body>
</html>
{% endblock %}