{% extends "study/base.html" %}

{% block class_name %}
Update Profile
{% endblock %}

{% block content %}
<div class="pb-3">
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button class="btn btn-primary" type="submit">Save Changes</button>
</form>
</div>
<div class = "pb-3">
    <a class="btn btn-secondary" href="/" role="button">Back to Home</a>
</div>
<div class="pb-5">
{% if messages %}
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
{% endif %}
</div>

{% endblock %}